<li>
    <i class="fa fa-envelope bg-green"></i>
    <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> {{ stream.createdAt|ago }}</span>
        <h3 class="timeline-header"><a href="#">{{ stream.user is not null ? stream.user.firstname ~ " " ~ stream.user.lastname  : "" }}</a> updated email "{{ entity.subject }}"</h3>
        <div class="timeline-body">
            {{ entity.body| truncate(400, true) }}
        </div>
        <div class="timeline-footer">
            <a href="{{ path('jumph_email_view', {'emailId': entity.id}) }}" class="btn btn-primary btn-xs">Read more</a>
        </div>
    </div>
</li>