{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Projects
{% endblock %}

{% block headerContent %}
    <h1>
        Projects
        <small>Overview</small>
    </h1>

    <ol class="breadcrumb">
        <li><i class="fa fa-tasks"></i> Projects</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="col-sm-6 col-lg-2 search-form pull-right">
                        {{ form_start(filterForm, { 'attr': { 'id': 'main-form'}}) }}
                        <div class="input-group">
                            {{ form_widget(filterForm.name, { 'attr': { 'class': 'input-sm' } }) }}
                            <div class="input-group-btn">
                                <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        {{ form_end(filterForm, {'render_rest': false}) }}
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ knp_pagination_sortable(projects, 'Title', 'p.name') }}</th>
                                <th>{{ knp_pagination_sortable(projects, 'Status', 'ps.name') }}</th>
                                <th>{{ knp_pagination_sortable(projects, 'Client', 'c.name') }}</th>
                                <th>{{ knp_pagination_sortable(projects, 'Project manager', 'e.firstname') }}</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if projects is empty %}
                                <tr>
                                    <td colspan="6" class="text-center">No results</td>
                                </tr>
                            {% endif %}
                            {% for project in projects  %}
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.status is not null ? project.status.name : "" }}</td>
                                    <td>{{ project.company is not null ? project.company.name : "" }}</td>
                                    <td>{{ project.employee is not null ? project.employee.firstname ~ " " ~ project.employee.lastname  : "" }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Options <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ path('jumph_project_view', { 'projectId': project.id }) }}">View</a></li>
                                                <li><a href="{{ path('jumph_project_edit', { 'projectId': project.id }) }}">Edit</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('jumph_project_delete', { 'projectId': project.id }) }}" class="js-delete-item">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-xs-6">
                        <div class="btn-group pagination">
                            <a href="{{ path('jumph_project_add') }}" class="btn btn-primary"><i class="fa fa-lg fa-plus-circle"></i>  Add project</a>
                            <!--<a href="" class="btn btn-default js-mass-delete"><i class="fa fa-lg fa-trash-o"></i>  Delete selected</a>-->
                        </div>
                    </div>
                    <div class="col-xs-6">
                        {{ knp_pagination_render(projects) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
