{% extends '::base_clear.html.twig' %}

{% block content %}
    <div class="form-box" id="login-box">
        <div class="header">Register</div>
        {{ form_start(registerForm, { 'attr': { 'class': 'form-horizontal forms', 'id': 'main-form'}}) }}
            <div class="body bg-gray">
                <div class="form-group">
                    {{ form_widget(registerForm.firstname, { 'attr': { 'placeholder': 'firstname' }}) }}
                    {{ form_errors(registerForm.firstname) }}
                </div>
                <div class="form-group">
                    {{ form_widget(registerForm.lastname, { 'attr': { 'placeholder': 'lastname' }}) }}
                    {{ form_errors(registerForm.lastname) }}
                </div>
                <div class="form-group">
                    {{ form_widget(registerForm.email, { 'attr': { 'placeholder': 'emailaddress' }}) }}
                    {{ form_errors(registerForm.email) }}
                </div>
                <div class="form-group">
                    {{ form_widget(registerForm.username, { 'attr': { 'placeholder': 'username' }}) }}
                    {{ form_errors(registerForm.username) }}
                </div>
                {% for passwordField in registerForm.password %}
                    <div class="form-group">
                    {{ form_widget(passwordField, { 'attr': { 'placeholder': 'password' }}) }}
                    {{ form_errors(passwordField) }}
                    </div>
                {% endfor %}
                {{ form_widget(registerForm._token) }}
            </div>
            <div class="footer">

                <button type="submit" class="btn bg-olive btn-block">Register</button>

                <a href="{{ path('jumph_auth_login') }}" class="text-center">Back to login page</a>
            </div>
        {{ form_end(registerForm, {'render_rest': false}) }}
    </div>
{% endblock %}