{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Dashboard
{% endblock %}

{% block headerContent %}
    <h1>
        Dashboard
        <small>Overview</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Dashboard</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        {% for block in blocks %}
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-{{ block.color }}">
                    <div class="inner">
                        <h3>
                            {{ block.totalItems }}
                        </h3>
                        <p>
                            {{ block.itemName }}
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-{{ block.icon }}"></i>
                    </div>
                    <a href="{{ block.link }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-12 col-xs-12">
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red">
                        18 March. 2014
                    </span>
                </li>
                <li>
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you and email</h3>
                        <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                        </div>
                        <div class='timeline-footer'>
                            <a class="btn btn-primary btn-xs">Read more</a>
                            <a class="btn btn-danger btn-xs">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-building bg-aqua"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                        <h3 class="timeline-header no-border"><a href="#">Peter Nijssen</a> added client "Peter Nijssen"</h3>
                    </div>
                </li>
                <li>
                    <i class="fa fa-comments bg-yellow"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                        <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                        </div>
                        <div class='timeline-footer'>
                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                        </div>
                    </div>
                </li>
                <li class="time-label">
                                    <span class="bg-green">
                                        3 Jan. 2014
                                    </span>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
