{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'client.clients'|trans }}
{% endblock %}

{% block headerContent %}
    <h1>
        {{ 'client.clients'|trans }}
        <small>{{ 'common.button.add_edit'|trans }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('jumph_client_company_overview') }}"><i class="fa fa-building"></i> {{ 'client.clients'|trans }}</a></li>
        <li> {{ 'common.button.add_edit'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="box box-primary">
                {{ form_start(companyForm, { 'attr': { 'id': 'main-form'}}) }}
                    <div class="box-header">
                        <!-- Potential title -->
                    </div>
                    <div class="box-body">
                        {{ form_row(companyForm.name) }}
                        {{ form_widget(companyForm._token) }}
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">{{ 'common.button.save'|trans }}</button>
                    </div>
                {{ form_end(companyForm, {'render_rest': false}) }}
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- Potential title -->
                </div>
                <div class="box-body">
                    <!-- To be defined -->
                </div>
                <div class="box-footer">
                    <!-- Potential footer -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
