{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Clients
{% endblock %}

{% block headerContent %}
<h1>
    Clients
    <small>Overview</small>
</h1>
<ol class="breadcrumb">
    <li><i class="fa fa-building"></i> Clients</li>
</ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- Potential title -->
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Employees</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" class="text-center">No results</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Company 1</td>
                                <td>2</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Options <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('jumph_company_view', {'companyId' : 1}) }}">View</a></li>
                                            <li><a href="{{ path('jumph_company_edit', {'companyId' : 1}) }}">Edit</a></li>
                                            <li><a href="{{ path('jumph_employee_overview', {'companyId' : 1}) }}">Employees</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('jumph_company_delete', {'companyId' : 1}) }}">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Company 2</td>
                                <td>5</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Options <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('jumph_company_view', {'companyId' : 1}) }}">View</a></li>
                                            <li><a href="{{ path('jumph_company_edit', {'companyId' : 1}) }}">Edit</a></li>
                                            <li><a href="{{ path('jumph_employee_overview', {'companyId' : 1}) }}">Employees</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('jumph_company_delete', {'companyId' : 1}) }}">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-xs-6">
                        <div class="btn-group pagination">
                            <a href="{{ path('jumph_company_add') }}" class="btn btn-primary"><i class="fa fa-lg fa-plus-circle"></i>  Add company</a>
                            <a href="" class="btn btn-default"><i class="fa fa-lg fa-trash-o"></i>  Delete selected</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <ul class="pagination pull-right">
                            <li class="prev disabled"><a href="#">← Previous</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next"><a href="#">Next → </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}