{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Clients
{% endblock %}

{% block headerContent %}
    <h1>
        Clients
        <small>View</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('jumph_client_company_overview') }}"><i class="fa fa-building"></i> Clients</a></li>
        <li> View</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Company</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ company.name }}</dd>
                    </dl>
                </div>
                <div class="box-footer">
                    <!-- Potential footer -->
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Employees</h3>
                </div>
                <div class="box-body">
                    {% for employee in company.employees %}
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd>{{ employee.firstname }} {{ employee.lastname }}</dd>
                            <dt>Email</dt>
                            <dd>{{ employee.email }}</dd>
                        </dl>
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <!-- Potential footer -->
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Projects</h3>
                </div>
                <div class="box-body">
                    {% for project in company.projects %}
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd>{{ project.name }}</dd>
                            <dt>Status</dt>
                            <dd>{{ project.status is not null ? project.status.name : "" }}</dd>
                            <dt>Description</dt>
                            <dd>{{ project.description }}</dd>
                        </dl>
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <!-- Potential footer -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
